<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wix.reactnativenotifications">

    <!--
     Permissions required for enabling GCM.
     -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- Ref: http://stackoverflow.com/questions/13602190/java-lang-securityexception-requires-vibrate-permission-on-jelly-bean-4-2 -->
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18" />

    <application>
        <receiver android:name="com.wix.reactnativenotifications.core.notification.PushNotificationPublisher" />
        <!--
         A proxy-service that gives the library an opportunity to do some work before launching/resuming the actual application task.
         -->
        <service android:name=".core.ProxyService"/>

        <service
            android:name=".gcm.FcmInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.FcmInstanceIdRefreshHandlerService"
            android:exported="false" />

        <!-- 
           Huawei Push start
        -->
        <receiver android:name=".huawei.HuaweiInstanceIdListenerService"
            android:permission="${applicationId}.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <!-- 必须, 用于接收透传消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 必须, 用于接收通知栏消息点击事件 此事件不需要开发者处理，只需注册就可以-->
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".huawei.HuaweiInstanceIdRefreshHandlerService"
            android:exported="false" />
        
        <meta-data  
            android:name="com.huawei.hms.client.appid"  
            android:value="appid=100899531">  
        </meta-data>   
    </application>

</manifest>
